@import 'tailwindcss';

:root {
  --color-bg: #f9fafb;
  --color-foreground: #111827;
  --color-border: #e5e7eb;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-foreground);
  } 
}
